
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>319购物</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/title.ico" type="image/x-icon" />



    <!--图标-->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/iconfont.css">

    <!--布局框架-->
    <link rel="stylesheet" type="text/css" href="/css/util.css">

    <!--主要样式-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>

<div class="login">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img class="registimg" src="/img/index.png" alt="IMG">
            </div>

            <form class="login100-form validate-form" action="/user/uregister" method="post">
				<span class="login100-form-title">
					319会员注册
				</span>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="user" placeholder="用户名" th:value="${tele}">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                    <span class="iconfont icon-addpeople_fill"></span>
					</span>
                </div>


                <div class="wrap-input100 validate-input">
                    <input class="input100" type="password" name="pwd" placeholder="密码">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="password" name="pwd1" placeholder="确认密码">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="email" placeholder="邮箱">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</span>
                </div>
                <p style="color :red" th:text="${diff}" th:if="${not #strings.isEmpty(diff)}"></p>
                <p style="color :red" th:text="${exist}" th:if="${not #strings.isEmpty(exist)}"></p>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        立即注册
                    </button>
                    <a class="txt3" href="/user/index">
                        已有账号？立即登录
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>

                <div class="text-center p-t-136">

                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>